/*----------- COLORES ------------*/
/*--------------------------------*/

/*
AZUL = #19a9e5

GALERIA = #fdfdfd

CONTACTO = #f7c236

NARANJA = #f25822

GRIS = #4a4a4a
*/

/*FUENTES*/
/*------------------------------------------------------------*/

/*Knewave*/
@import url(http://fonts.googleapis.com/css?family=Knewave);

/*Roboto*/
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:700,400);

/*PRUEBA*/
/*
.figura {
	margin-top: 60px;
}

.square {
	width: 100px;
	height: 100px;
	margin: 0px auto;
	background: #19a9e5;
	-webkit-transform: rotate(45deg);
}
______________________________________*/

.land {
	font-family: 'Roboto Condensed', sans-serif;
	width: 600px;
	font-weight: 700;
	margin: 0 auto;
	font-size: 40px;
	text-align: center;
	color: white;
}

#INICIO h1 {
	font-weight: 700;
}

#INICIO h1, #INICIO h2 {
	margin: 0px auto;
	color: white;
	text-align: center;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
}

.foto {
	border: 2px solid #fff;
	border-bottom: 4px solid #fff;
	border-radius: 10px;
	background-image: url('../images/foto.jpg');
	height: 180px;
	width: 157px;
	margin: 0px auto;
}

.works {
	height: 300px;
	border: 2px solid black;
} 

.name {
	font-family: 'Knewave', sans-serif;
	font-weight: 100;
	text-shadow: 0 1px 0 #ccc, 
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

#nav-fixed {
	background-color: #19a9e5;
	height: 40px;
	position: fixed;
  	right: 0;
  	left: 0;  	
  	top: 0;
  	z-index: 1030;
}

#INICIO {
	background-color: #19a9e5;
	height: 540px;
	padding-top: 100px;
}

body {
	background-color: #fdfdfd;
}

 #ABOUT {	
	height: 500px;
	margin-bottom: 250px;
}

#ABOUT h5 {
	margin-bottom: 40px;
	margin-top: 40px;
	text-align: center
}

.whitebox {
	border-radius: 3px;
	box-shadow: 0 1px #FFFFFF inset, 0 1px 3px rgba(34, 25, 25, 0.4);
}

.whitebox h3 {
	background-color: #f25822;
	padding-left: 15px;
	color: #fff;
}

.centrar-texto {
	padding: 10px 10px 10px 10px;
}

.separation {
	margin-bottom: 45px;
}

.left {
	float: left;
}

.right {
	float: right;
}

#GALERIA {
	position: relative;
	height: 500px;
	margin-bottom: 200px;
}

#GALERIA img {
    border: 2px solid yellow;
    border-radius:4px;
}

#CONTACTO {
	background-color: #f7c236;
	height: 620px;
	padding-top: 100px;
    color: #fff;
}

#CONTACTO ul { float: left; }

footer {
	background-color: #4a4a4a;
	height: 50px;
	width: 100%
}
